@import 'devextreme/dist/css/dx.material.blue.light.css'; 

.dx-datagrid-header-panel
{
  padding: 0;
}

.cff {
  font-size: '30px';
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dx-datagrid-borders > .dx-datagrid-headers {  
  border-top-left-radius: 10px;  
  border-top-right-radius: 10px;  
}  
.dx-datagrid-borders > .dx-datagrid-total-footer,  
.dx-datagrid-borders > .dx-datagrid-rowsview {  
  border-bottom-left-radius: 10px;  
  border-bottom-right-radius: 10px;  
}  

.dx-cell-focus-disabled:nth-child(1)
{
  border-top-left-radius: 10px;  
}

.dx-cell-focus-disabled:nth-last-child(1)
{
  border-top-right-radius: 10px;  
}